*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

/* toolbox */

.toolbox-cont{
    height: 5rem;
    background-color: #2d3436;
    display: flex;
    align-items: center;
}

.toolbox-cont > *{
    margin-left: 4rem;
    border-radius: 10px;
}

.toolbox-priority-cont{
    height: 3rem;
    width: 16rem;
    background-color:#636e72;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.action-btn-cont{
    height: 3rem;
    width: 8rem;
    background-color: #636e72;
    display: flex;
}

.action-btn-cont > * {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    font-size: 30px;
    color: #f5f6fa;
}

.action-btn-cont > *:hover{
    background-color: #7f8c8d;
    border-radius: 10px;
}

.color{
    height: 2rem;
    width: 2rem;
    background-color: gold;
    border-radius: 100%;
}

.lightpink{
    background-color: lightpink;
}

.lightblue{
    background-color: lightblue;
}

.lightgreen{
    background-color: lightgreen;
}

.black{
    background-color: black;
}

/* main container */

.main-cont{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 2rem;
    justify-content: center;
}

.modal-cont{
    height: 60vh;
    width: 40vw;
    background-color: lightblue;
    display: none;
    position: absolute;
    top: calc((100vh - 60vh) / 2);
    left: calc((100vw - 40vw) / 2);
    border: 1px solid;
}

.textarea-cont{
    resize: none;
    border: none;
    outline: none;
    height: 100%;
    width: 75%;
    background-color: #f5f6fa;
    padding: 2rem;
    font-size: 1.5rem;
    font-family: 'Merriweather', serif;
}

.priority-colors-cont{
    height: 100%;
    width: 25%;
    background-color: #2d3436;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.priority-color{
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
}

.border{
    border: 3px solid #f5f6fa;
}

.ticket-cont{
    height: 14rem;
    width: 16rem;
    background-color: lightblue;
}

.ticket-color{
    height: 1.25rem;
    width: 100%;
}

.ticket-id{
    height: 2rem;
    width: 100%;
    background-color: #636e72;
    padding: 0.4rem;
    color: #f5f6fa;
}

.task-area{
    width: 100%;
    height: calc(100% - 5.25rem);
    background-color: #2d3436;
    padding: 0.4rem;
    color: #f5f6fa;
    word-wrap: break-word;
    outline: none;
}

.ticket-lock{
    height: 2rem;
    background-color: #2d3436;
    font-size: 1.25rem;
    color: gray;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}
